<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav>
        <a href="/donationRequests/allRequests">Ver todas las solicitudes de donaciones</a>
        <a href="/donationRequests/ourRequests">Ver nuestras solicitudes de donaciones</a>
        <a href="/donationRequests/create">Publicar una nueva solicitud de donación</a>
        <a href="/home">Volver al inicio</a>
        <a href="#" onclick="logout(); return false;">Cerrar sesión</a>
    </nav>
    <script src="/js/user/logout.js"></script>
</body>