<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="../../css/userStyles.css">
</head>
<body>
    <h1>ONG Empuje Comunitario - Gestión de Usuarios</h1>
    <nav>
        <a href="/home">Home Page</a>
        <a href="/user">Ver usuarios</a>
        <a href="/user/create">Crear usuario</a>
        <button onclick="logout()">Cerrar Sesión</button>
    </nav>
    <section>
        <div class="container">
            <h1>Usuarios</h1>
            <table id="userList">
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </table>
        </div>
    </section>
    <script type="module" src="../../js/user/users.js"></script>
    <script src="../../js/user/logout.js"></script>
</body>

</html>