<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../../css/eventsStyles.css">
</head>

<body>
    <nav>
        <a href="events.ejs">ver eventos</a>
        <a href="createEvent.ejs">crear evento</a>
        <a href="#">volver a inicio</a>
        <a href="#">cerrar sesión</a>
    </nav>

    <section>

        <div class="container">
            <h1>Eventos</h1>

            <table id="eventsList">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Finalizado</th>
                    <th>Opciones</th>
                </tr>
            </table>

        </div>
    </section>

    <script src="../../js/events/events.js"></script>
</body>

</html>